@import "tailwindcss";

@theme {
  --font-sans: var(--font-geist-sans);
  --font-mono: var(--font-geist-mono);

  --color-bg-app: var(--bg-app);
  --color-bg-panel: var(--bg-panel);
  --color-bg-input: var(--bg-input);
  --color-border-main: var(--border-main);
  --color-border-hover: var(--border-hover);
  --color-text-main: var(--text-main);
  --color-text-muted: var(--text-muted);
  --color-bg-hover: var(--bg-hover);
}

@layer base {
  :root {
    --bg-app: #fafafa;
    --bg-panel: #ffffff;
    --bg-input: #f4f4f5;
    --border-main: #e4e4e7;
    --border-hover: #d4d4d8;
    --text-main: #09090b;
    --text-muted: #71717a;
    --bg-hover: rgba(0, 0, 0, 0.04);
  }

  .dark {
    --bg-app: #060608;
    --bg-panel: #0a0a0c;
    --bg-input: #121215;
    --border-main: rgba(255, 255, 255, 0.05);
    --border-hover: rgba(255, 255, 255, 0.1);
    --text-main: #ffffff;
    --text-muted: #a1a1aa;
    --bg-hover: rgba(255, 255, 255, 0.05);
  }
}

body {
  background-color: var(--bg-app);
  color: var(--text-main);
}

.custom-scrollbar::-webkit-scrollbar {
  width: 6px;
}
.custom-scrollbar::-webkit-scrollbar-track {
  background: transparent;
}
.custom-scrollbar::-webkit-scrollbar-thumb {
  background: var(--border-main);
  border-radius: 10px;
}
.custom-scrollbar::-webkit-scrollbar-thumb:hover {
  background: var(--text-muted);
}
.hide-scrollbar::-webkit-scrollbar {
  display: none;
}